In [99]:
import pandas as pd 
import numpy as np
# user data
user = pd.read_csv('job-recommendation/users.tsv',sep='\t')
# application data
apps = pd.read_csv('job-recommendation/apps.tsv',sep='\t')

In [24]:
# jobs data
jobs = pd.read_csv('job-recommendation/jobs.tsv',sep='\t',error_bad_lines=False)

b'Skipping line 122433: expected 11 fields, saw 12\n'
b'Skipping line 602576: expected 11 fields, saw 12\n'
b'Skipping line 990950: expected 11 fields, saw 12\n'
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [74]:
# Find the associate job ID from the jobs for the first 100000 users. 
sample = user.head(10000)

In [51]:
jobs.head()

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US,20531,2012-03-07 13:17:01.643,2012-04-06 23:59:59
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US,28217,2012-03-21 02:03:44.137,2012-04-20 23:59:59
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US,32792,2012-03-02 16:36:55.447,2012-04-01 23:59:59
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:10.077,2012-04-02 23:59:59
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:11.88,2012-04-02 23:59:59

In [96]:
jobs.head()

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US,20531,2012-03-07 13:17:01.643,2012-04-06 23:59:59
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US,28217,2012-03-21 02:03:44.137,2012-04-20 23:59:59
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US,32792,2012-03-02 16:36:55.447,2012-04-01 23:59:59
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:10.077,2012-04-02 23:59:59
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:11.88,2012-04-02 23:59:59

In [118]:
# Get the first 100000 user 
sample_users = user.head(100000)
# User_ID =  
sample_users_id = []
for row in sample_users.itertuples():
    sample_users_id.append(row.UserID)

In [126]:
# for row in apps.itertuples
#     if row.UserID in sample_user_id:
apps_sample = apps.loc[apps['UserID'].isin(sample_users_id)]

In [128]:
apps_sample.to_csv('job-recommendation/sample_data/apps_sample.csv')

In [142]:
sample_jobs_id = []
for row in apps_sample.itertuples():
    sample_jobs_id.append(row.JobID)

In [148]:
jobs_sample = jobs.loc[apps['JobID'].isin(sample_jobs_id)]

In [150]:
jobs_sample.to_csv('job-recommendation/sample_data/jobs_sample.csv')

In [151]:
len(jobs_sample)sample_jobs_id sample_jobs_id

533689

In [153]:
sample_users.to_csv('job-recommendation/sample_data/users_sample.csv')

In [155]:
user_history= pd.read_csv('job-recommendation/user_history.tsv',sep='\t')

In [158]:
user_history_sample = user_history.loc[user_history['UserID'].isin(sample_users_id)]

In [159]:
user_history_sample.to_csv('job-recommendation/sample_data/user_history_sample.csv')

In [160]:
len(user_history_sample)

447425